version: '3.8'
services:
  minio:
    image: minio/minio
    ports:
      - "9000:9000" #API
      - "9001:9001" #console
    environment:
      MINIO_ROOT_USER: admin
      MINIO_ROOT_PASSWORD: password123
    command: server /data --console-address ":9001"
    volumes:
      - minio-data:/data
volumes:
  minio-data: